*{
    font-family: sans-serif;
}
section{
    padding-bottom: 5px;
    height: 500px;
}
/*navbar*/
.nav-links{
    display:flex;
    flex-direction: column;
    position: fixed;
    z-index:100;
    scroll-behavior: smooth;
}
.fa-solidfa-house{
    height: 30px;
    width:30px
}
ul{
    display:inline;
}
/*landing*/
.landing{
    height: 100vh;
    background-image: url(images/siyomain.jpg);  
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    border-collapse:collapse;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    opacity: 0.7;
    color: #45505B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    line-height: 36px; 
    font-size: 32px;
}
/*about*/
h2{
    text-align: center;
}
.siyolise{
    height: 300px;
    width: 350px;
    padding-right: 50px;
    padding-left: 50px;
}
.info{
    display: flex;
    align-items: center;
    margin-top:100px;
}
/*resume*/
/*skills*/
meter{
    height: 50px;
    width:80%;
    margin-left:50px;
    padding: 5px;
}

/*projects*/
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
  }
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    height: 100px;
    width: 100px
  }
div.space{
    width: 50px;
    height: 50px;
    height: 120px;
    width: 120px;
    margin-left: 10px;
    margin-top: 10px;
}
/*contact*/
form{
    position: center;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
input{
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
}
textarea{
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    height: 200px;
}
/*footer*/
footer{
    background-color: rgb(222, 201, 175);
    height: 60px;
}
h4{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}