*{
    font-family: sans-serif;
}
section{
    padding-bottom: 30px;
}
/*navbar*/
.navbar-nav{
    display:flex;
    flex-direction: column;
    position: fixed;
    z-index:100;
    scroll-behavior: smooth;
}
.fa-solidfa-house{
    height: 30px;
    width:30px
}
ul{
    display:inline;
}
/*landing*/
.landing{
    height: 100vh;
    background-image: url(images/siyomain.jpg);  
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    border-collapse:collapse;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    color: #45505B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    line-height: 36px; 
    font-size: 32px;
}
/*about*/
.section-title{
    text-align: center;
}
h2{
    text-align: center;
}
.siyolise{
    height: 296px;
    width: 296px;
    padding-right: 50px;
    padding-left: 50px;
}
.info{
    display: flex;
    align-items: center;
    margin-top:100px;
}
/*resume*/
ul, li{
    list-style: none;
    padding: 0;
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    padding: 3rem 0;
  }
  .wrapper{
    background: #eaf6ff;
    padding: 2rem;
    border-radius: 15px;
  }
  h1{
    font-size: 1.1rem;
    font-family: sans-serif;
  }
  .sessions{
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
  }
  li{
    padding-bottom: 1.5rem;
    border-left: 1px solid #abaaed;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
    &:last-child{
      border: 0px;
      padding-bottom: 0;
    }
    &:before{
      content: '';
      width: 15px;
      height: 15px;
      background: white;
      border: 1px solid #4e5ed3;
      box-shadow: 3px 3px 0px #bab5f8;
      box-shadow: 3px 3px 0px #bab5f8;
      border-radius: 50%;
      position: absolute;
      left: -10px;
      top: 0px;
    }
/*skills*/
meter{
    height: 50px;
    width:80%;
    margin-left:50px;
    padding: 5px;
}

/*projects*/
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
  }
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    height: 142px;
    width: 142px
  }
div.space{
    width: 50px;
    height: 50px;
    height: 120px;
    width: 120px;
    margin-left: 10px;
    margin-top: 10px;
}
/*contact*/
.con-location{
    display: flex;
    align-items: center;
}
.loc-icon{
    height: 30px;
    width: 30px;
}
.loc-details{
    padding-bottom: 20px
}
form{
    display: block;
    position: center;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
input{
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
}
textarea{
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    height: 200px;
}
display
/*footer*/
footer{
    background-color: rgb(222, 201, 175);
    height: 60px;
}
h4{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}