*{
    font-family: sans-serif;
}
section{
    padding-bottom: 50px;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
/*navbar*/
.navbar-nav ul{
    display:inline;
    list-style-type: none;
    margin-left: 70px;
}
li span{
    /* display: none; */
}
.nav-links:hover  .nav-text  {
    /* display: inline; */
    width: 200px;
}
.navbar-nav{
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50px;
    background-color: white;
}
.nav-text{
    width: 0px;
    overflow: hidden;
    transition:all 0.3s linear;
    display: block;
}
.li .navlink-li{
    border-radius: 600px !important;
}
/*landing*/
.landing{
    height: 100vh;
    background-image: url(images/siyomain.jpg);  
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    border-collapse:collapse;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    color: #45505B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    line-height: 36px; 
    font-size: 32px;
}
/*about*/
.col-lg-6{
    display: block;
}
ul{
    box-sizing: border-box;
}
li{
list-style: none;
}
.section-title{
    text-align: center;
}
.siyolise{
    height: 296px;
    width: 296px;
    padding-right: 50px;
    padding-left: 50px;
}

/*testimonials*/
.carousel-indicators{  
    background-color: grey
}
.carousel-indicators .active{ 
    background-color: #0563BB; 
}
/*resume*/

/*skills*/
div.progress{
    height: 50px;
    width:80%;
    margin-left:50px;
    margin-bottom: 15px;
}

/*projects*/
.project-container{
    display: flex;
    flex-wrap:wrap;
    gap: 30px;
    justify-content: space-between;
}
.project-container img{
    min-width: 200px;
    flex-grow: 1;
    object-fit: cover;
    max-height: 400px;
}
/*contact*/
.con-location{
    display: flex;
    align-items: center;
}
.loc-icon{
    height: 30px;
    width: 30px;
}
.loc-details{
    padding-bottom: 20px
}
form{
    display: block;
    position: center;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
input{
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
}
textarea{
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    height: 200px;
}
display
/*footer*/
footer{
    background-color: rgb(222, 201, 175);
    height: 60px;
}
h4{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}